body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
}

.page-title{
  background-color: #1f425d;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.svg-container {
  max-height: 500px;
  max-width: 100vw;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.editor {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  resize: none;
  width: 80%;
  margin: auto;
}

.editor:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.editor-buttons{
  text-align: right;
}

.button-20 {
  margin-top: 2rem;
  padding: 10px 25px;
  font-size: 16px;
  color: #fff;
  background-color: #1f425d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.button-20:hover {
  background-color: #0056b3;
}


.diagram-container {
  position: relative;

  min-width: 50%;
  max-width: 50%;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  min-height: 40rem; 
  max-height: 40rem; 
} 

.mermaid-diagram{
  position: relative;
  min-width: 60%;
  max-width: 60%;
}

.only-mermaid{
  min-width: 100%;
  max-width: 100%;

}
.kroki-diagram{
  min-width: 40%;
  max-width: 40%;

}

h2 {
  font-size: 22px;
  color: #333;
  margin-bottom: 15px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
  background-color: #e9ecef;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto;
  height: 100%;
  margin: 0;
}

.result-container {
  display: flex;
  gap: 10px;
  margin: auto;
  width: 80%;
  margin-bottom: 3rem;
}

.buttons-container{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.download-icon {
  position: absolute;
  top: 10px !important;
  right: 10px !important;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}


.download-icon:hover {  
  color: #007bff;
}