.editor {
  text-align: left;
}

/* NAVBAR */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: montserrat;
}
/* Estilos generales para la barra de navegación */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #2c3e50; /* Un color de fondo oscuro */
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.examples-btn {
  position: relative;
}

.menu-btn {
  background-color: white !important;
  color: #1f425d !important;
  font-weight: bold !important;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: rgb(164 166 167 / 64%) !important;
  color: white !important;
  font-weight: bold !important;
  cursor: pointer;
}

/* Estilos para el menú desplegable */
.Menu {
  background-color: #2c3e50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MenuItem {
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.MenuItem:hover {
  background-color: #34495e;
} /* BARRA DE BÚSQUEDA */

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.searchTerm {
  height: 2rem !important;
  width: 20%;
  border: #000910 SOLID 1px;
  border-right: none;
  padding: 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #1f425d;
  width: 30%;
}

.searchButton {
  width: 40px;
  height: 2rem;
  border: #1f425d;
  background: #1f425d;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
